{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>
</head>
<body style="background-image:url({% static '/images/hiring.jpg' %});">
<nav class="navbar navbar-expand-lg text-light" style="background: #23074d;background: -webkit-linear-gradient(to right, #cc5333, #23074d);background: linear-gradient(to right, #cc5333, #23074d);">
    <div class="container-fluid">
        <a class="navbar-brand text-warning" href="{%url 'cand-home'%}">SeekS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active text-light" aria-current="page" href="{%url 'accepted'%}">Notifications</a>
                </li>
                <li class="nav-item">
                    {%if request.user.candidates%}
                        <a class="nav-link active text-light" aria-current="page" href="{%url 'cand-detail'%}">View Profile</a>
                    {%else%}
                        <a class="nav-link active text-light" aria-current="page" href="{%url 'cand-addprofile'%}">Add Profile</a>
                    {%endif%}
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-light" aria-current="page" href="{%url 'cand-applied'%}">Applied Jobs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-light" aria-current="page" href="{%url 'cand-list'%}">All Jobs</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
            </form>
            <li class="nav-item dropdown" style="margin-right:150px ;">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                   aria-expanded="false">
                    <img style="width:30px;height:30px;" src="{{request.user.candidates.profile_pic.url}}" alt="">
                    {{request.user}}
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="{%url 'passreset' request.user.id %}">Password Reset</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="{%url 'signout' %}">Log Out</a></li>
                </ul>
            </li>
        </div>
    </div>
</nav>
<div class="container-fluid">
    {%block body_block%}
    {%endblock%}
</div>

</body>
</html>